<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('addThem',homeTeam='home', awayTeam='away', spread='0') }}">Who will cover the spread?</a>
    </h3>
    <hr/>
    <div class="alert alert-danger" role="alert">
      <p class="alert-link">This app is designed to make predictions on which team will cover the spread in an NFL game</p>
      <p class="alert-link">To run, select a home team, road team and the spread in terms of the home team (if home is favored this should be negative, if road is favored it should be positive)</p>
    </div>
      <form action="{{ url_for('home_page') }}" method=post class=add-entry>
      <dl>
        <br />
        <label for="homeT">Pick Home Team:</label>
        <select name="homeT" id="homeT">
           <option value="Arizona">Arizona</option>
           <option value="Atlanta">Atlanta</option>
           <option value="Baltimore">Baltimore</option>
           <option value="Buffalo">Buffalo</option>
           <option value="Carolina">Carolina</option>
           <option value="Chicago">Chicago</option>
           <option value="Cincinnati">Cincinnati</option>
           <option value="Cleveland">Cleveland</option>
           <option value="Dallas">Dallas</option>
           <option value="Denver">Denver</option>
           <option value="Detroit">Detroit</option>
           <option value="GreenBay">GreenBay</option>
           <option value="Houston">Houston</option>
           <option value="Indianapolis">Indianapolis</option>
           <option value="Jacksonville">Jacksonville</option>
           <option value="KansasCity">KansasCity</option>
           <option value="LasVegas">LasVegas</option>
           <option value="LosAngelesChargers">LosAngelesChargers</option>
           <option value="LosAngelesRams">LosAngelesRams</option>
           <option value="Miami">Miami</option>
           <option value="Minnesota">Minnesota</option>
           <option value="NewEngland">NewEngland</option>
           <option value="NewOrleans">NewOrleans</option>
           <option value="NewYorkGiants">NewYorkGiants</option>
           <option value="NewYorkJets">NewYorkJets</option>
           <option value="Philadelphia">Philadelphia</option>
           <option value="Pittsburgh">Pittsburgh</option>
           <option value="SanFrancisco">SanFrancisco</option>
           <option value="Seattle">Seattle</option>
           <option value="TampaBay">TampaBay</option>
           <option value="Tennessee">Tennessee</option>
           <option value="Washington">Washington</option>
        </select>
        <br />
        <label for="awayT">Pick Away Team:&nbsp;</label>
        <select name="awayT" id="awayT">
           <option value="Arizona">Arizona</option>
           <option value="Atlanta">Atlanta</option>
           <option value="Baltimore">Baltimore</option>
           <option value="Buffalo">Buffalo</option>
           <option value="Carolina">Carolina</option>
           <option value="Chicago">Chicago</option>
           <option value="Cincinnati">Cincinnati</option>
           <option value="Cleveland">Cleveland</option>
           <option value="Dallas">Dallas</option>
           <option value="Denver">Denver</option>
           <option value="Detroit ">Detroit</option>
           <option value="GreenBay">GreenBay</option>
           <option value="Houston">Houston</option>
           <option value="Indianapolis">Indianapolis</option>
           <option value="Jacksonville">Jacksonville</option>
           <option value="KansasCity">KansasCity</option>
           <option value="LasVegas">LasVegas</option>
           <option value="LosAngelesChargers">LosAngelesChargers</option>
           <option value="LosAngelesRams">Los Angeles Rams</option>
           <option value="Miami">Miami</option>
           <option value="Minnesota">Minnesota</option>
           <option value="NewEngland">NewEngland</option>
           <option value="NewOrleans">NewOrleans</option>
           <option value="NewYorkGiants">NewYorkGiants</option>
           <option value="NewYorkJets">NewYorkJets</option>
           <option value="Philadelphia">Philadelphia</option>
           <option value="Pittsburgh">Pittsburgh</option>
           <option value="SanFrancisco">SanFrancisco</option>
           <option value="Seattle">Seattle</option>
           <option value="TampaBay">TampaBay</option>
           <option value="Tennessee">Tennessee</option>
           <option value="Washington">Washington</option>
        </select>
        <br />
        <label for="pickSpread">Pick Spread:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type=text size=15 name=pickSpread placeholder="Spread">
        <br />
        <input type=submit value=Predict>
      </dl>
    </form>

</body>
</html>