<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('home_page') }}">Who will cover the spread?</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Home Team___</th>
               <th>Away Team___</th>
               <th>Spread</th>
            </tr>
         </thead>

         <tbody>
            {% for track in tracks %}
               <tr>
                   <td>{{ track.title }}</td>
                   <td>{{ track.artist }}</td>
                   <td>{{ track.spread }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('addThem') }}" method=post class=add-entry>
      <dl>
        <input type=text size=15 name=homeTeam placeholder="Home Team">
        <input type=text size=15 name=awayTeam placeholder="Away Team">
        <input type=text size=15 name=spread placeholder="Spread">
        <input type=submit value=Submit>
      </dl>
    </form>

</body>
</html>